<li class="nav-item dropdown" *ngIf="cartItems.length >= 1">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Sepetim
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" *ngFor="let item of cartItems"
        >{{ item.product.productName }} <span>{{ item.quantity }}</span></a
      >
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Sepete Git</a></li>
  </ul>
</li>
