<form [formGroup]="categoryAddForm">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Kategor Adı</label>
    <input
      type="text"
      class="form-control"
      id="categoryName"
      formControlName="categoryName"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <button type="submit" (click)="categoryAdd()" class="btn btn-primary">
    Submit
  </button>
</form>
